.progress {
	background-color: #faf6f6;
	border-radius: 25px !important;
	position: relative;
	margin: 15px 0;
	height: 0.5rem !important;
	width: 100%;
}

.progress-done {
	/* background-color: #00EEFF !important; */
	border-radius: 25px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

