.board-width{
    width: 80%;
}
.catergory-and-dashboard-width{
    width: 18%;
}
@media only screen and (max-width:1024px) {
    .catergory-and-dashboard-width{
        width: 22% !important;
    }
}
@media only screen and (max-width:768px) {
    .catergory-and-dashboard-width{
        width: 100% !important;
    }
}