.board-width {
    width: 80%;
}

.project-board-width {
    width: 62%;
}

.catergory-and-dashboard-width {
    width: 18%;
}

@media only screen and (min-width:1024px) {
    .myBoard {
        padding-left: 3rem !important;
    }
}

@media only screen and (max-width:1024px) {
    .catergory-and-dashboard-width {
        width: 22% !important;
    }
    .board-width {
        width: 75%;
    }
    .myBoard {
        padding-left: 1rem !important;
    }
}

@media only screen and (max-width:768px) {
    .catergory-and-dashboard-width {
        width: 100% !important;
    }
    .myBoard {
        padding-left: 1rem!important;
    }
}

@media only screen and (max-width: 280px) {
    .myBoard {
        padding: 0 !important;
    }
}